body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    border-radius: 0;
    font-size: 18px;
    margin: -2px;
    border: none;
    padding: 0 10px 0 10px;
}


/*.nav-default {
    background-color: #fcfcfc;
    padding: 0 10px 0 10px;
}*/


.index-hero {
    margin-bottom: 15px;
    background-image: url('../images/index/fruit-opac.png');
    background-size: cover;
    padding-top: 130px;
    height: 300px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.index-hero-h {
    background-color: #222;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 7px;
    text-align: center;
    margin: 0 27% 0 27%;
}

/* CARDS */
.rest-card {
    padding: 5px;
}

.rest-card-like-icon {
    margin: -5px 2px 0 2px;
}

    .rest-card-like-icon:hover {
        background-color: #a9e2ff;
        border-radius: 10px;
    }

.rest-card-dislike-icon {
    margin: -5px 2px 0 2px;
}

    .rest-card-dislike-icon:hover {
        background-color: #feb1b1;
        border-radius: 10px;
    }


/* LINKS */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}