@model Restaurant

@{ 
    ViewBag.Title = "Create";
}

<h1>Create</h1>

<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" /> @*tag helper*@
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="CuisineType"></label>
        <select asp-for="CuisineType" asp-items="@(new SelectList(ViewBag.CuisineTypeList, "CuisineTypeId", "Type"))">
            @*tag helper and html helper*@
        </select>
        <span asp-validation-for="CuisineType"></span>
    </div><input type="submit" name="save" value="save" />
</form>
@*<div asp-validation-summary=""></div> <-- Can show all    errors with the form*@