@model Restaurant

@{  
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div>@Model.RestaurantId</div>
<div>
    Cuisine: @Model.CuisineType.Type
</div>
<a asp-action="Index" asp-controller="Home">Home</a>