@model HomeIndexViewModel

@{
    ViewBag.Title = "Home page";
}

@* HERO *@
<div class="index-hero">
    <h1 class="index-hero-h">Where would you like to eat?</h1>
</div>

@* BODY *@
<div class="container">
    <div class="row">
        @foreach (var restaurant in Model.Restaurants) {
            <div class="col-4">
                @Html.Partial("_Summary", restaurant)
            </div>
        }
    </div>

    <div class="">
        <a class="btn btn-primary" asp-action="Create">Add Restaurant</a>
    </div>
</div>